zspure*
config.yml
TODO*
*.json
*.png
*.jpg
*.jpeg
!info-*.json
!info-*.png
!info-*.jpg
!info-*.jpeg
!zspure.png
!http-*.json
!ftp-*.json
!modbus-*.json
!tls-*.json
!ssh-*.json
!pop3-*.json
!imap-*.json
!fox-*.json